@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.page-header {
  width: 100%;
  position: relative;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sedona-logo-link {
  display: block;
  margin: 0 30px -6px 70px;
}

.sedona-logo {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-item {
  min-width: 100px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  list-style-type: none;
  align-items: center;
}

.navigation-user-item {
  min-width: 44px;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  text-decoration: none;
}

.favorite-counter {
  margin: 11px 4px 33px 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 10px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
}

.button-want {
  border-radius: 4px;
  width: 180px;
  padding: 8px 34px;
}

.page-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.hero {
  text-align: center;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-color: #354751;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, top;
}

.hero-image {
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.reasons-title {
  max-width: 630px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.reasons-description {
  max-width: 660px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 69px;
  text-align: center;
}

.reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(385px, auto));
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-item:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  color: #FFFFFF;
  text-align: center;
  background-color: #82B3D3;
}

.reasons-item:nth-child(5) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  color: #FFFFFF;
  text-align: center;
  background-color: #82B3D3;
}

.reasons-item-lighter {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item-darker {
  color: rgba(131, 179, 211, 0.2);
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item-title {
  max-width: 230px;
  margin: 102px auto 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.reasons-item-title-lighter,
.reasons-item-title-darker {
  color: #000000
}

.reasons-text {
  margin: 0 auto 102px;
  max-width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reasons-text-lighter,
.reasons-text-darker {
  color: #333333;
}

.reasons-item-reverse .image-wrapper {
  order: -1;
}

.advantages-title {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 280px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-lighter {
  background-color: inherit;
}

.advantages-item-title {
  margin: 0;
  padding: 0;
  margin-top: 183px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-text {
  max-width: 230px;
  margin: 0 auto;
  margin-bottom: 81px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cta {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  margin: auto;
}

.cta-title {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.cta-text {
  text-align: center;
}

.button-cta {
  align-self: center;
  min-width: 376px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  padding: 8px 20px;
}

.mailing-catalog {
  padding: 96px 258px 104px;
}

.mailing {
  text-align: center;
  background-image: url("../images/mailing-background.jpg");
  background-color: #354751;
  background-repeat: no-repeat;
  background-size: cover;
}

.mailing-title {
  margin: 96px auto 20px;
  max-width: 700px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.mailing-text {
  margin: 0 auto 54px;
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.mailing-form {
  padding-bottom: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-mailing {
  height: 52px;
  width: 232px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none
}

.mailing-input {
  width: 452px;
  padding: 14px 20px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color: #FFFFFF;
}

.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.phone-number-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-header {
  min-height: 412px;
  margin: -6px auto 50px;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-image: url("../images/filter-background.jpg");
  background-color: #354751;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}

.buttons-filter {
  display: flex;
  flex-direction: column;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.field-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 57px;
  background: none;
  border: none;
}

.result-control-title {
  box-sizing: border-box;
  margin: 0;
  margin-left: 70px;
  margin-right: 200px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.sort-select {
  max-width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  color: #333333;
  background-color: #ffffff;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0 70px 80px 70px;
  gap: 20px;
  justify-content: center;
}

.card-item {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 438px;
  gap: 16px 20px;
  border: 1px solid #E5E5E5;
}

.card-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-link {
  text-decoration: none;
}

.card-text {
  padding: 0;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 18px;
  line-height: 21px;
}

.card-image-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card-price {
  padding: 0;
  margin: 0;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
}

.button-favorite {
  background-color: #82B3D3;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-favorite-in {
  background-color: #7DB54F;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-more {
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-rating {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipsis {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.mailing-title-catalog,
.mailing-text-catalog {
  color: #000000;
}
