@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.favorite-counter {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
}

.hero {
  text-align: center;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-color: #3a4d53;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.reasons-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.reasons-description {
  text-align: center;
}

.reasons-item {
  color: #FFFFFF;
  text-align: center;
  background-color: #82B3D3;
}

.reasons-item1 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item2 {
  color: rgba(131, 179, 211, 0.2);
  background-color: #83B3D333;
}

.reasons-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-item-title1,
.reasons-item-title2 {
  color: #000000
}

.reasons-text {
  font-size: 18px;
  line-height: 21px;
}

.reasons-text1,
.reasons-text2 {
  color: #333333;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item1 {
  background-color: inherit;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cta-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.cta-text {
  text-align: center;
}

.button-cta {
  font-size: 20px;
  line-height: 36px;
}

.mailing {
  text-align: center;
  background-image: url("../images/mailing-background.jpg");
  background-color: #3a4d53;
  background-repeat: no-repeat;
  background-size: cover;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.mailing-text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.button-mailing {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.phone-number-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-header {
  color: #ffffff;
  background-image: url("../images/filter-background.jpg");
  background-color: #3a4d53;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.field-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.result-control-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.sort-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #E5E5E5;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.button-favorite {
  background-color: #82B3D3;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipsis {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.mailing-title-catalog,
.mailing-text-catalog {
  color: #000000;
}
